* {
    box-sizing: border-box;
    transition: .5s ease;
}

nav { 
    width: 100%; 
    text-align: center;
}

.nav-links {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    padding: 20px;
}

.nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--sec-color);
    font-family: var(--main-font);
    transition: .5s ease;
}

.nav-links li a:hover {
    color: white;
    transition: .5s ease;
}

.nav-links li:first-of-type {
    padding: 10px;
}

.nav-links li:first-of-type img {
    height: 7vh;
    width: 15vw;
}

@media (max-width: 1024px) and (orientation: portrait){

    nav { position: relative; }

    .nav-links li:first-of-type {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 10vh;
        height: 95vh;
        width: 100%;
        pointer-events: none;
        clip-path: circle(10px at 90% -15%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links li a {
        letter-spacing: 5px;
        font-size: 45px;
    }

    .menu-container {
        height: 10vh;
        width: 100%;
        position: absolute;
        background-color: var(--main-color);
    }

    .burger-menu {
        position: absolute;
        top: 3vh;
        right: 5vw;
        z-index: 2;
        visibility: visible;
        background-color: var(--main-color);
        cursor: pointer;
    }

    .line1, .line2, .line3 {
        height: 4px;
        width: 27px;
        background-color: var(--sec-color);
        color: transparent;
        margin: 5px;
    }
    
    .nav-active {
        background-color: var(--main-color) !important;
        clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    
    .close-button .line1 { transform: rotate(-45deg) translateY(13px); }
    
    .close-button .line2 { opacity: 0; }
    
    .close-button .line3 { transform: rotate(45deg) translateY(-13px); }
}

@media (max-width: 414px) and (orientation: portrait) {
    .nav-links li a {
        font-size: 25px;
    }
}