<div class="main-photo">
    <img src="../uploads/front.jpg" alt="">
</div>
<p class="description">
    I've always been a story-teller first, long before I stumbled upon photography.
    It all started with writing imaginary pieces when I was younger, until the day I picked up a camera and discovered another medium to express myself.<br><br>
    Capturing emotions is one of the most important parts of my work. I feel strongly about taking photographs that I connect with.
    Even though emotions of my subjects that I'm documenting, I find a reflection of myself in them.<br><br>
    There's no surprise that photography is the love of my life, but traveling is also the blood in my veins.
    I'm endlessly inspired by nature and adventures.
    I love waking up to new horizons, making friends with people, exploring the world.
</p>