@media (max-width: 1024px) {
    .progress-bar, .step-content {
        display: none;
    }

    main {
        top: 10vh;
    }

    #up {
        top: -2.5vh;
        right: 5.5vw;
    }

    #down {
        bottom: -4vh;
        right: 5.5vw;
    }
}

@media (max-width: 414px) {
    main {
        top: 15vh;
    }

    main div {
        width: 100% !important;
        clear: both;
        padding: 0;
    }

    #up {
        top: -5vh;
    }
}