<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="/uploads/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/mediaquery/about.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Baskervville|Assistant&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>About</title>
</head>

<body>

    <img src="../uploads/2.jpg" class="background-img" alt="">

    <header>
        <%- include("../partials/header") %>
    </header>

    <main>

        <section class="aside">
            <span>Behind the camera</span><br>
            <h1>
                Creative, high-energy photographer producing premium-quality photos in studio settings,<br>
                Dedicated to creating memories that last a lifetime while driving sales and studio profits.
            </h1>
        </section>
        
        <section class="resume">
            <span >Work History</span><br>
            <h1>Photographer, 2013 to Present <br>ABC Company - Sometown, NJ</h1>
            <p>
                Complete studio photography assignments, from family portraits to weddings, engagements, corporate headshots, pets, holiday themes and infant/toddler photo shoots.
                Leverage interpersonal skills to quickly build rapport with subjects.
            </p>
            <h1>Photography Studio Technician, 2013 <br>Mary Jones Studio - Sometown, NJ</h1>
            <p>
                5-month internship at a leading Sometown photography studio.
                Provided retouching services, image optimization, color conversions/corrections and other digital support for commercial clients.
            </p>
            <span>Education</span><br>
            <h1>Bachelor of Fine Arts<br>Major in Photography, 2013</h1>
        </section>

    </main>
    <script src="/js/about.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>