<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="/uploads/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/projects.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/mediaquery/projects.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Assistant|Baskevville&display=swap" 
        rel="stylesheet">
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Projects</title>
</head>

<body>

    <header>
        <%- include("../partials/header") %>
    </header>

    <section class="progress-bar">
        <div class="progress">
            <div class="percent"></div>
        </div>
        <div class="steps">
            <div class="step" id="0"></div>
            <div class="step" id="1"></div>
            <div class="step" id="2"></div>
            <div class="step" id="3"></div>
            <div class="step" id="4"></div>
            <div class="step" id="5"></div>
        </div>
    </section>

    <section class="step-content">
        <div class="step-content0">
            Navigate through the progress-bar using letters (A-D for first animation, E-H for second, etc.), arrow keys, enter or click on it.
        </div>
        <div class="step-content1 pic">
            <img src="../uploads/svg1.png" alt="">
        </div>
        <div class="step-content2 pic">
            <img src="../uploads/svg2.png" alt="">
        </div>
        <div class="step-content3 pic">
            <img src="../uploads/svg3.png" alt="">
        </div>
        <div class="step-content4 pic">
            <img src="../uploads/svg4.png" alt="">
        </div>
        <div class="step-content5 pic">
            <img src="../uploads/svg5.png" alt="">
        </div>
    </section>

    <main>
        <a href="#down" id="up"><i class="fa fa-angle-double-down" style="font-size: 40px;"></i></a>
        <a href="#up" id="down"><i class="fa fa-angle-double-up" style="font-size: 40px;"></i></a>
        
        <div class="panel1">
            <img src="../uploads/21.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consectetur at neque delectus. Optio commodi quaerat obcaecati 
                deserunt officiis expedita rem voluptates dolore harum veritatis 
                ducimus illum a dolorum, accusantium voluptas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel2">
            <img src="../uploads/19.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Itaque quaerat earum odio nam sed pariatur tenetur voluptate 
                odit aperiam neque quo qui ea, quam totam magni facilis enim 
                voluptatibus repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel3">
            <img src="../uploads/24.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Obcaecati, nihil aliquid ullam esse odit dolor autem iure, 
                quia quos dolore fugit aut doloremque. Cum sed delectus, 
                expedita provident vel facilis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel4">
            <img src="../uploads/23.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Id ex a commodi esse, assumenda error? Totam, corporis. 
                Sapiente officiis exercitationem corporis delectus totam 
                ratione cumque sint iusto amet ut. Possimus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel5">
            <img src="../uploads/25.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Incidunt aliquid rem numquam inventore cum est eaque molestiae atque, 
                reiciendis obcaecati consectetur deleniti excepturi accusamus odio 
                assumenda provident doloremque ut officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel6">
            <img src="../uploads/10.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quo mollitia voluptates ab dolorum cum itaque officiis architecto 
                porro molestias dolores veniam exercitationem facilis iusto magni, 
                eius sunt labore, odit deserunt!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel7">
            <img src="../uploads/9.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Non tempore veritatis unde placeat consectetur minus ab dolorem 
                hic veniam quis delectus ipsam molestias aliquam, quam alias 
                expedita soluta fuga assumenda!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel8">
            <img src="../uploads/20.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Quia asperiores illum esse vitae sint porro hic nisi nobis, 
                eligendi neque at incidunt distinctio omnis, assumenda, doloremque et. 
                Saepe, amet quo?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel9">
            <img src="../uploads/13.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quasi natus tempore nesciunt! Sed quidem eveniet adipisci 
                harum ut cupiditate recusandae exercitationem, aut eum 
                consequatur in quaerat! Dignissimos possimus pariatur eveniet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>
        <div class="panel10">
            <img src="../uploads/17.jpg" alt="">
            <p class="panel-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Delectus officiis alias explicabo dolore officia illum dolorum 
                aliquam error aliquid, quaerat incidunt, est atque dolores quas 
                dicta asperiores esse possimus totam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatibus magnam maxime nemo fuga suscipit autem, 
                culpa ratione dolorem porro vel laboriosam ducimus minus 
                est tempore iste recusandae, voluptate repellendus dolor.
            </p>
        </div>

    </main>

    <script src="/js/projects.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>